@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin:0;
  padding:0;
  border-sizing:border-box;
  font-family:"Ubuntu",sans-serif;
}
body,html{
  width:100%;
  height:100vh;
}
main{
  display:flex;
  flex-direction:column;
  width:100%;
  height:100vh;
}
#group-cartao{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  height:270px;
  background:url("bg-main-mobile.png");
}
#cartao-1,#cartao-2{
  position:relative;
  display:flex;
  width:330px;
  height:200px;
}
#cartao-1{
  left:30px;
  top:75px;
}
#cartao-2{
  left:-20px;
}
#cvc,#card-name,#mmyy{
  position:relative;
  top:-25px;
  left:140px;
  font-weight:bold;
  z-index:1;
  color:#fff;
}
#card-name{
  top:-70px;
  left:-120px;
  font-size:1.2rem;
}
#mmyy{
  top:-85px;
  left:90px;
}
#card-number{
  position:relative;
  top:-100px;
  left:-20px;
  font-weight:bold;
  z-index:1;
  color:#fff;
  font-size:2rem;
}
#logo{
  position:relative;
  top:-235px;
  left:-125px;
  scale:.8;
}
#formulario,#check{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:180px;
  font-size:1.5rem;
}
#check{
  display:none;
  margin:130px 0px 0px 0px;
  flex-direction:column;
}
h1{
  margin:7px 0px;
  font-size:1.3rem;
}
p{
  color:#B9BAC1;
  margin:10px 0px 0px 0px;
}
input{
  padding:10px;
  width:300px;
  height:20px;
  border-radius:13px;
  font-size:.9rem;
  margin:4px 0px;
  border:solid .5px #DADBEB;
  outline:none;
}
button{
  position:relative;
  left:60px;
  width:150px;
  border-radius:20px;
  padding:15px;
  font-size:1.3rem;
  background:#0D1248;
  color:#fff;
  border:none;
  margin:30px;
}
label{
  display:flex;
  flex-direction:column;
  font-size:.8rem;
  margin:13px 0px;
}
#dado{
  display:flex;
  justify-content:space-between;
}
#dado  input{
  width:50px;
}
@media(min-width:900px){
  main{
    flex-direction:row;
  }
  #group-cartao{
    background:url("bg-main-desktop.png");
    width:500px;
    height:100vh;
  }
  #cartao-1,#cartao-2{
  position:relative;
  display:flex;
  width:360px;
  height:220px;
}
#cartao-1{
  left:80px;
  top:80px;
}
#cartao-2{
  left:120px;
  top:90px;
}
#card-name{
  top:20px;
  left:20px;
  font-size:1.2rem;
}
#mmyy{
  top:5px;
  left:250px;
}
#cvc{
  top:-38px;
  left:190px;
}
#card-number{
  position:relative;
  top:-30px;
  left:120px;
  font-weight:bold;
  z-index:1;
  color:#fff;
  font-size:2rem;
}
#logo{
  position:relative;
  top:-185px;
  left:-10px;
  scale:.8;
}
#formulario{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:170px;
  font-size:1.6rem;
}
#check{
  margin-left:130px;
}
input{
  padding:10px;
  width:300px;
  height:20px;
  border-radius:13px;
  font-size:.4rem;
  margin:4px 0px;
  border:solid .1px #DADBEB;
  outline:none;
}
button{
  position:relative;
  left:20px;
  width:250px;
  border-radius:10px;
  padding:15px;
  font-size:1.3rem;
  background:#0D1248;
  color:#fff;
  border:none;
  margin:30px;
}
label{
  font-size:.7rem;
}
}
.verify{
  display:none;
  margin:2px 0px 0px 5px;
  color:red;
}